@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 189, 94%, 43%;
    --primary-foreground: 20 14.3% 4.1%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 10%, 4%;
    --foreground: 60 9.1% 97.8%;

    --card: 240, 10%, 4%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 189, 94%, 43%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 189, 94%, 43%;
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-poppins;
  }

  .container {
    @apply max-w-[80rem] min-h-screen mx-auto;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }
  .home_img {
    @apply w-[300px] h-[300px] bg-center bg-no-repeat bg-cover order-1 justify-self-center;
    @apply shadow-[inset_0_0_0_9px_rgba(10,21,148,0.3)];
    animation: profile_animate 8s ease-in-out infinite 1s;
    @apply border-[5px_solid_#030637];
  }
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
/* animations */

@keyframes movingbackground {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in;
}

.moving-grid-background {
  will-change: transform;
  background-size: 3rem 3rem;
  background-image: linear-gradient(90deg, #8882 1px, transparent 0),
    linear-gradient(180deg, #8882 1px, transparent 0);
}

/* scrollbar */

::-webkit-scrollbar {
  height: 4px !important;
  width: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #5e5e5e !important;
  border-radius: 2px !important;
  opacity: 0.1 !important;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--secondary)) !important;
}
